<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.dao.UserDao">

    <select id="findUserByUserId" resultType="com.wt.model.User" parameterType="Integer">
        select * from User where id = #{id}
    </select>
    <select id="chooseByAccount" resultType="com.wt.model.User" parameterType="String">
        select * from User where account = #{account}
    </select>
    <insert id="register" parameterType="com.wt.model.User">
        insert into user values (null ,#{name},#{account},#{password})
    </insert>
</mapper>